
.glass-contact-card {
  background: rgba(255,255,255,0.03);
  border: 1px solid rgba(255,255,255,0.08);
  backdrop-filter: blur(10px);
  border-radius: 22px;
  padding: 22px;
  transition: 0.3s;
}

.glass-contact-card:hover {
  border-color: rgba(34,197,94,0.4);
  box-shadow: 0 0 20px rgba(34,197,94,0.08);
}


.contact-icon {
  width: 52px;
  height: 52px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(34,197,94,0.08);
  color: #22c55e;
  font-size: 18px;
}


.contact-input {
  width: 100%;
  background: rgba(255,255,255,0.03);
  border: 1px solid rgba(255,255,255,0.08);
  padding: 18px 20px;
  border-radius: 18px;
  outline: none;
  color: white;
  transition: 0.3s;
}

.contact-input:focus {
  border-color: #22c55e;
  box-shadow: 0 0 10px rgba(34,197,94,0.2);
}

/* BUTTON */
.contact-btn {
  width: fit-content;
  padding: 14px 26px;
  border-radius: 999px;
  border: 1px solid rgba(255,255,255,0.1);
  transition: 0.3s;
  font-weight: 600;
}

.contact-btn:hover {
  background: #22c55e;
  color: black;
}