

.sidebar-card {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  background: #1d1d1e;
  border-radius: 32px 0 32px 32px;
  padding: 24px;
  position: relative;
}



.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 20px;
}



.profile-wrapper {
  width: 250px;
  height: 300px;

  background: url("../assets/profile1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  border-radius: 32px 0 32px 32px;
}



.role-text {
  color: #9ca3af;
  font-size: 14px;
  letter-spacing: 1px;
}


.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icon {
  width: 40px;
  height: 40px;

  border-radius: 16px;
  border: 1px solid #374151;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #9ca3af;
  transition: 0.3s;
}

.icon:hover {
  border-color: #22c55e;
  color: #22c55e;
}



.bottom-bar {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.bottom-btn {
  padding: 12px 16px;

  border-radius: 999px;
  border: 1px solid #9ca3af;

  cursor: pointer;
  transition: 0.3s;
  background: transparent;
}

.bottom-btn:hover {
  color: #22c55e;
  border-color: #22c55e;
}



@media (max-width: 767px) {

  .sidebar-card {
    width: 100%;
    max-width: 100%;
    margin-top: 60px;
    border-radius: 0;
    padding: 24px 16px;
  }

  .profile-wrapper {
    width: 300px;
    height: 360px;
  }

  .bottom-bar {
    flex-direction: row;
    width: 100%;
  }

  .bottom-btn {
    width: 100%;
    white-space: nowrap;
  }
}



@media (min-width: 768px) and (max-width: 1023px) {

  .sidebar-card {
    width: 100%;
    max-width: 100%;
    margin-top: 60px;
    padding: 32px;
    border-radius: 0px;
  }

  .profile-content {
    flex-direction: row;
    align-items: center;
    text-align: left;
    gap: 32px;
  }

  .profile-details {
    flex: 1;
    margin-top: 0;
  }

  .profile-wrapper {
    width: 240px;
    height: 280px;
    flex-shrink: 0;
  }

  .social-icons {
    justify-content: flex-start;
  }
}



@media (min-width: 1024px) {

  .sidebar-card {
    position: fixed;
    top: 40px;
    left: 150px;

    width: 360px;
    min-height: 530px;

    margin-top: 0;
  }

  .profile-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }
}